.footer-logo {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #222222;
}
.footer-logo a {
  text-decoration: none;
}
.footer-logo h3 {
  color: #757575;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.footer-logo h3:hover {
  opacity: 0.7;
}
